.setPage {
  display: flex;
  min-width: 80%;
}

.formContainer {
  width: 70%;
  height: 20rem;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.formBox {
  display: flex;
  flex-direction: column;
  border: 3px solid #97bf0f;
  width: 50%;
  padding: 1rem;
  border-radius: 5px;
}

.formBox input,
.formBox select,
.formBox button {
  height: 2rem;
  margin-bottom: 1rem;
  border: 2px solid #191a18;
  border-radius: 3px;
  font-size: 1.2rem;
  font-family: 'Exo 2', sans-serif;
}

.createBtn {
  margin-top: 3rem;
  background-color: #97bf0f;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 768px) {
  .formBox input,
  .formBox select,
  .formBox button {
    font-size: 1rem;
  }

  .formContainer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80%;
  }
}

@media (max-width: 576px) {
  .formBox {
    width: 95%;
  }

  .formBox input,
  .formBox select,
  .formBox button {
    font-size: 0.8rem;
  }
}
