@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.setPage {
  display: flex;
  /* min-width: 80%; */
}

.listBox {
  background: #97BF0F;
  text-align: center;
  width: 100%;
}

.rowHead {
  display: flex;
  width: 80%;
  margin: 2rem auto;
  justify-content: space-between;
  font-size: 1.4rem;
}

.font {
  font-family: 'Exo 2', sans-serif;
}

.data {
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #fff;
  text-align: center;
  width: 20%;
}

.dataDate {
  width: 25%;
}

.itemBox {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 0 auto;
}