@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.displayDoctors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.container {
  /* border: 2px solid gray; */
  display: flex;
  /* height: 100%; */
}

.textCenter {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  margin-left: 3rem;
  font-family: 'Exo 2', sans-serif;
  /* font-family: 'lato' sans-serif; */
}

.noMargin {
  margin: 0; 
}

.greyText {
  color:hsl(210, 22%, 49%);;
  font-size: 1.2rem;
  margin: 0;
}
