@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.detailBox {
  display: flex;
  min-width: 80%;
}

.picBox {
  width: 40%;
  height: 40%;
  margin-top: 8rem;
  margin-left: 5rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nameDetail {
  position: absolute;
  right: 0;
  top: 6rem;
  padding-right: 2rem;
  font-family: 'Exo 2', sans-serif;
  width: 30%;
}

.noMargin {
  margin: 0;
}

.positionName {
  text-align: right;
}

.smallFont {
  font-size: 1.1rem;
}

.moreDetail {
  margin-top: 1rem;
  text-align: right;
}

.setRow {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.setLeft {
  text-align: left;
}

.grayBg {
  background: rgb(216, 213, 213);
}

.bookApmnt {
  width: 100%;
  background: #97bf0f;
  padding: 0.4rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: 'Exo 2', sans-serif;
  border-radius: 8px;
  position: relative;
  font-weight: bold;
  top: 6rem;
  text-align: center;
}

.back {
  display: flex;
  flex-direction: column;
}

.btnMargin {
  margin-top: 3rem;
}

@media (max-width: 992px) {
  .picBox {
    width: 30%;
    height: 12rem;
    margin-left: 1rem;
  }

  .nameDetail {
    left: 28rem;
    width: 40%;
  }
}

@media (max-width: 768px) {
  .nameDetail {
    left: 24rem;
  }

  .noMargin {
    font-size: 0.8rem;
  }

  .smallFont {
    font-size: 0.8rem;
  }

  .setRow {
    font-size: small;
  }

  .bookApmnt {
    font-size: 0.9rem;
    top: 3rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 576px) {
  .flexCol {
    flex-direction: column;
  }

  .nameDetail {
    top: 22rem;
    left: 5rem;
    width: 80%;
  }

  .picBox {
    width: 80%;
  }

  .bookApmnt {
    top: 2rem;
  }

  .setSocial {
    font-size: 0.4rem;
  }
}
