@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

.docImageBox {
  width: 12rem;
  height: 10rem;
  margin: 0.4rem 1rem;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centerName {
  text-align: center;
  margin-top: 1.2rem;
}

.noMargin {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}

.text {
  color: hsl(210, 22%, 49%);
}

.addPadding {
  padding-right: 0.2rem;
}

.alignLocation {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.setLink {
  text-decoration: none;
  color: #000;
}

.setLine {
  text-align: center;
  margin: 0.8rem 0;
  color: gray;
}

.socialHandle {
  display: flex;
  width: 50%;
  margin: 0.6rem auto 1.2rem auto;
  justify-content: space-between;
  font-size: 1.3rem;
}

.socialColor {
  color: rgb(214, 219, 219);
}

@media (max-width: 576px) {
  .docImageBox {
    width: 10rem;
    height: 9rem;
  }
}
