.navBox {
  height: 100vh;
  min-width: 20%;
  max-width: 20%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #d3e0ec;
}

.setNav {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
  height: 2rem;
  font-weight: bold;
  background-color: #97bf0f;
  width: 100%;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding-top: 0.2rem;
}

.setLogo {
  width: 8rem;
  height: 8rem;
  position: relative;
  left: 0;
  top: 0;
}

.img {
  width: 100%;
}

.socialHome {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  width: 80%;
}

.setLink {
  display: flex;
  flex-direction: column;
}

.setSocial {
  color: #000;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .setNav {
    font-size: 0.8rem;
    padding-top: 0.5rem;
  }

  .socialHome {
    padding-left: 0.8rem;
  }
}

@media (max-width: 576px) {
  .setNav {
    font-size: 0.5rem;
    padding-top: 0.6rem;
  }

  .navBox {
    width: 30%;
  }

  .setSocial {
    font-size: 0.6rem;
  }

  .socialHome {
    margin-left: 0.4rem;
  }

  .setLogo {
    width: 4rem;
    height: 5rem;
  }
}
