.container {
  width: 96%;
  min-height: 100vh;
  height: auto;
  margin: 0 auto;
  border: 2px solid #97bf0f;
  border-radius: 5px;
  padding-bottom: 1rem;
}

.signupForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 5rem auto 0 auto;
}

.setMessage {
  margin-top: 2rem;
  font-size: 1.2rem;
  text-align: center;
  height: 3rem;
}

.setMessage h3 {
  font-family: 'Exo 2', sans-serif;
  color: #00bfff;
}

.signupForm input,
.signupForm button {
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 1rem;
  border: 2px solid #97bf0f;
  border-radius: 5px;
  font-size: 1.2rem;
}

.signupForm input {
  padding: 0.2rem;
  height: 2rem;
}

.signupForm button {
  height: 3rem;
  margin-top: 1rem;
  background: #97bf0f;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.signupForm span,
.submitBtn,
.setLinkBtn,
.setTitle {
  font-family: 'Exo 2', sans-serif;
}

.submitBtn {
  text-decoration: none;
}

.homeForm {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: 4rem auto 0 auto;
}

.setLinkBtn {
  height: 2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.4rem;
  font-size: 1.2rem;
  background: #97bf0f;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  width: 8rem;
  text-align: center;
  border-radius: 5px;
}

.setTitle {
  text-align: center;
  margin-top: 12rem;
  color: #ccc;
}

.coverBg {
  background: linear-gradient(to bottom right, rgba(10, 19, 0, 0.746), rgba(11, 53, 3, 0.719)), url("../images/cover-image.jpg");
  background-color: #ccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .signupForm {
    width: 60%;
  }

  .homeForm {
    width: 60%;
  }

  .setTitle {
    margin-top: 4rem;
  }

  .signupForm input,
  .signupForm button {
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
  }

  .signupForm input {
    height: 1.5rem;
  }

  .signupForm button {
    height: 2rem;
    margin-top: 0.5rem;
  }

  .setMessage {
    margin-top: 2rem;
  }
}

@media (max-width: 576px) {
  .signupForm {
    width: 80%;
  }

  .setLinkBtn {
    width: 6rem;
  }

  .homeForm {
    width: 80%;
  }
}
